{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_title %}{{ greeting }}{% endblock %}

{% block content %}
    <h2>{{ _("Available Cars") }}</h2>
    <ul>
        {% for car in cars %}
        <li>
            <a href="{{ url_for('car_detail_route', car_id=car.id) }}">
                {{ car.year if car.year else 'N/A' }} {{ car.make }} {{ car.model }}
            </a>
        </li>
        {% else %}
        <li>{{ _("No cars found.") }}</li>
        {% endfor %}
    </ul>
{% endblock %}
